/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Gothic&display=swap');
*{ box-sizing: border-box}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.c1 {
    border: 5px outset white;
    background-image: url("https://wallpapers.com/images/hd/champions-league-background-4s3l2lyht0q9qkuz.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.c2 {
    border: 5px outset white;
    background-image: url("https://img.uefa.com/imgml/uefacom/uel/social/og-default.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
body{
	font-family: "Lato", sans-serif;
	background-color: #101820; 
}
main{
	background-color: #101820;
}
header{
	background-color: #101820;
}
nav{
	background-color: #101820;
}
.container{ 
	width: 1140px; 
	margin: auto;
}
.img-100{ 
	width: 100%; 
	height: auto;
}
.img-circle{ 
	border-radius: 50%;
}
.heisenberg{
	color: #F3E5AB;
}
.ball{
	padding-top: 25px;
}
.social-media{
	padding-top: 12px;
}
.social-media a{
	margin-right: 10px;
}
.social-media ul li a{
	padding: 12px 25px;
}
.box{
	width: 100%;
	border: 1px solid white;
	text-align: center;
	padding: 20px;
}
.box a{
	text-decoration: none;
	color: darkred;
}
.box a:hover{
	color: white;
	cursor: pointer;
}
.player-price{
	color: rgba(255,0,0,1.00);
}
.justify-center{ 
	justify-content: center;
}
.justify-between{ 
	justify-content: space-between;
}
.justify-around{ 
	justify-content: space-around;
}
aside ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}
aside ul li a{
	text-decoration: none;
	padding: 10px;
	display: block;
	color: #666666;
}
aside ul li{
	border-bottom: 1px solid #808080;
}
aside ul li a:hover{
	background-color: darkred;
	color: white;
}
.top-bar{
	width: 100%;
	height: 65px;
	line-height: 50px;
}
.top-bar a{
	color: white;
}
.top-bar a:hover{
	color: #F9E795;
	
}
.navbar .navbar-nav .nav-item .nav-link:hover{
	color: #F9E795;
	
}
.navbar .navbar-nav .nav-item .dropdown-menu{
	background-color: #F9E795;
	padding-bottom: 0;
	padding-top: 0;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item{
	color: #2F3C7E;
}
.navbar .navbar-nav .nav-item .dropdown-menu li{
	border-bottom: 1px solid white;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
	background-color: #8AAAE5;
}

.tintuc{
	text-align: left;
}
.ninja{
	position: relative;
	text-decoration: none;
}
.text-block {
   position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  color: white;
  padding-left: 30px;
  padding-right: 50px;
}
.club{
text-decoration: none;
}
.club a{
	color: aliceblue;
}
.side{
	background-color: #1B1B23;
}
#chuyen-nhuong .noi-dung{
	text-align: center;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#chuyen-nhuong .noi-dung img{
	width: 200px;
	height: 200px;
}
#cn .owl-nav { 
	position: absolute; 
	left: 0px; 
	top: 40%; 
	width: 100%; 
}
#cn .owl-nav [class*='owl-'] {
	font-size: 60px; 
	color: #666666;
}

#cn .owl-nav .owl-next{ 
	position: absolute; 
	right: 5%;
}
#cn .owl-nav .owl-prev{ 
	position: absolute; 
	left: 5%; 
}
#cn .owl-nav [class*='owl-']:hover {
      background: none;
	border: none;
      color: #FFC113;
      text-decoration: none; 
}
footer{
	background-color: #1B1B23; 
}
.footerContainer{
	width: 100%;
	padding: 70px 30px 20px;
}
.socialIcons{
	display: flex;
	justify-content: center;
}
.socialIcons a{
	text-decoration: none;
	padding: 10px;
	background-color: white;
	margin: 10px;
	border-radius: 50%;
	}
.socialIcons a i{
	font-size: 2em;
	color: black;
	opacity: 0.9;
	}
.socialIcons a:hover{
	background-color: #111;
	transition: 0.5s;
}
.socialIcons a:hover i{
color: white;
	transition: 0.5s;
}
.footerBottom{
	background-color: #000;
	padding: 20px;
	text-align: center;
}
.footerBottom p{
	color: white;
}
.hieu9{
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0px 5px;
}
.main-bg{
	background-color: #101820;
}
.main-cl{
	color: #F9E795;
}
.main-nen{
	color: #8AAAE5;
}

